$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button (default content) */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Message list */
.proto-list {
  background-image: url("../images/v-grey-line.png");
  background-repeat: repeat-y;
  background-position-x: 8px;
  ul {
    list-style-type: none;
    padding-left: 10px;
  }
  .proto-message {
    border-bottom: dashed 1px #b6b6b6;
    padding-left: 28px;
    vertical-align: middle;

    .message-item {
      min-height: 45px;
      vertical-align: middle;
      padding: 10px 0;
    }

    .sub-item {
      background-image: url("../images/v-grey-line.png");
      background-repeat: repeat-y;
      background-position-x: 1px;
      padding-left: 20px;
    }

    .trigger {
      position: relative;
      left: -18px;
      background-color: #ffffff;
    }

    .feed-icon {
      width: 45px;
      height: 45px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
      background-size: 45px;
    }
    .news-icon {
      background-image: url("../images/quotes.png");
    }
    .alert-icon {
      background-image: url("../images/exclamation.png");
    }
    .person-icon {
      background-image: url("../images/person.png");
    }
    .slack-icon {
      background-image: url("../images/slack.png");
    }
    .schedule-icon {
      background-image: url("../images/calendar.png");
    }
    .actionOptions {
      margin-left: 65px;
      .btn {
        background-color: #5cb85c;
        margin-right: 5px;
      }
    }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
