.DSStore

.idea/.name

.idea/deployment.xml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/proto.iml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml

npm-debug.log

bower_components/*

node_modules/*

.sass-cache/*

.tmp/*
